{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid products-baner">
    <div class="row">
        <div class="col my-auto">
            <hr class="w-25 hr-heading-beige">
            <h2 class="logo-font text-center">About FutureRetro</h2>
            <hr class="w-25 hr-heading-beige">
        </div>
    </div>
</div>
<div class="home-page-item">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <hr class="w-25 hr-heading-beige">
                <p class="text-center">
                    The FutureRetro is a clothing company created by Erica Johnsson, the FutureRetro customer
                    is a modern-day woman who wants the classic and feminine silhouette of the 1940s-50s while
                    remaining modern feel. The FutureRetro girl tends to dress a little bit conservatively, but
                    the different items can be integrated into every girl's closet!
                </p>
                <p class="text-center">
                    Every single item created is a one-of-a-kind, ’40-’50s inspired piece that is designed and
                    hand-sewn by me, with fabrics and supplies from three local second-hand stores: Myrorna,
                    Frälsningsarmén och Blocket. It is my own interpretation of the timeless femininity of this
                    era and is intended for women in all walks of life: from the businesswoman to the stay-at-home
                    mom. Every woman deserves to feel feminine and beautiful!
                    <a class="update-link text-info" href="#">For more information about FutureRetro click here!</a>
                </p>
                <p class="text-center">
                    Love,
                    Erica
                </p>
            </div>
        </div>
    </div>
</div>
<div class="home-page-item">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <img src="{{ MEDIA_URL }}studio.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}