{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home-page-item h-100 hero-background">
    <div class="container h-100">
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black text-center">
                    Modern Classics
                </h1>
                <hr class="hr-heading-grey">
                <h3 class="bold text-center">
                    Bringing you the best
                    <br>
                    of the past with a modern twist
                </h3>
                <div class="my-auto pt-4">
                    <h4 class="text-center">
                        <a href="{% url 'products' %}" class="shop-now-button btn rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-page-item">
    <div class="container h-100"> 
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="logo-font text-black text-center">New Realises</h2>
            </div>
        </div>
    </div>
</div> 
<div class="container">
    <div class="owl-carousel owl-theme"> 
        <div class="item">
            <div class="card">
                <img class="card-img-top" src="media/noimage.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class="card-img-top" src="media/noimage.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card" >
                <img class="card-img-top" src="media/noimage.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class="card-img-top" src="media/noimage.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class="card-img-top" src="media/noimage.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class="card-img-top" src="media/noimage.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title 6</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-page-item">
    <h1>Instagram</h1>
</div>

<script>
        $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:3
            }
        }
    })
</script>
{% endblock %}


<!--
    {% for product in products %}
                        <div class="card h-100">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
-->