{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
{% endblock%}

{% block content %}
<!-- Hero image and text -->
<div class="home-page-item h-100 hero-background">
    <div class="container h-100">
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black text-center hero-heading">
                    Modern Classics
                </h1>
                <hr class="hr-heading-beige">
                <h3 class="bold text-center hero-heading">
                    Bringing you the best
                    <br>
                    of the past with a modern twist
                </h3>
                <div class="my-auto pt-4">
                    <h4 class="text-center">
                        <a href="{% url 'products' %}"
                            class="shop-now-button btn-outline-black btn rounded-0 text-uppercase py-3">
                            Shop Now!
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FutureRetro Company Information  -->
<div class="home-page-item">
    <div class="container">
        <h1 class="logo-font text-black text-center">About<br>FutureRetro</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <hr class="w-25 hr-heading-beige">
                <p class="text-center">
                    The FutureRetro is a clothing company created by Erica Johnsson, the FutureRetro customer
                    is a modern-day woman who wants the classic and feminine silhouette of the 1940s-50s while
                    remaining modern feel. The FutureRetro girl tends to dress a little bit conservatively, but
                    the different items can be integrated into every girl's closet!
                </p>
                <p class="text-center">
                    Every single item created is a one-of-a-kind, ’40-’50s inspired piece that is designed and
                    hand-sewn by me, with fabrics and supplies from three local second-hand stores: Myrorna,
                    Frälsningsarmén och Blocket. It is my own interpretation of the timeless femininity of this
                    era and is intended for women in all walks of life: from the businesswoman to the stay-at-home
                    mom. Every woman deserves to feel feminine and beautiful!
                    <a class="update-link text-info" href="#">For more information about FutureRetro click here!</a>
                </p>
                <p class="text-center">
                    Love,
                    Erica
                </p>
            </div>
        </div>
    </div>
</div>

<!-- 
    New releases - Owl Carousel 
    Code built following: https://www.youtube.com/watch?v=EG-sXgY1md4&t=3s
    Owl Carousels can be found: https://owlcarousel2.github.io/OwlCarousel2/demos 
-->
<div class="home-page-item">
    <div class="container h-100">
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="logo-font text-black text-center pt-3">New Releases</h1>
                <hr class="w-25 hr-heading-beige p-2">
                
            </div>
        </div>
    </div>
    <p class="text-black text-center pt-2"> <--- Feel free to swipe around! ---></p>
    <div class="container w-75">
        <div class="owl-carousel owl-theme">
            {% for product in products %}
                <div class="item">
                    <div class="card">
                        <div class="">
                            {% if product.image %}
                                <img class=" " src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ product.price }}</p>
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Product Detail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- 
    Instagram - Juicer embedden Instagram feed 
    https://www.juicer.io/feeds/futureretro_store 
-->
<div class="home-page-item">
    <div class="container">
        <h1 class="logo-font text-black text-center pt-3">Instagram</h1>
        <hr class="w-25 hr-heading-beige">
        <ul class="juicer-feed instagram-feed" data-feed-id="futureretro_store" data-per="3" data-gutter="10"
            style="colors">
            <h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer.io</a></h1>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-block d-lg-none">
                <div class="btt-button shadow-sm rounded-0 border border-black">
                    <a class="btt-link d-flex h-100">
                        <i class="fas fa-lg fa-arrow-up mx-auto my-auto"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% include 'home/includes/owl_carousel_script.html' %}
<script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
{% endblock %}