{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

<!-- 
    Entire code written following Code Institutes Boutique Ado project
    https://github.com/ckz8780/boutique_ado_v1
-->

{% block content %}
<div class="container-fluid products-baner ">
    <!--container mb-2-->
    <div class="row">
        <div class="col my-auto">
            <hr class="w-25 hr-heading-green">
            <h2 class="logo-font text-center">Thank you!</h2>
            <hr class="w-25 hr-heading-yellow">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 my-auto">
                <p class="text-center">
                    Thank you for shopping at FutureRetro today!
                    Your order information is displayed below and 
                    a copy will be sent to {{ order.email }}.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-black bold">
                                {{ item.product.name }}
                                {% if item.product.size %} 
                                    - Size {{ item.product.size|upper }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0">
                                {{ item.quantity }} @ ${{ item.product.price }} each
                            </p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Delivering to:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_total }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.delivery_cost }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=new_arrivals" 
                        class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-store-alt"></i>
                        </span>
                        <span class="text-uppercase">Check out new releases!</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
