html {
    height: 100%;
}

body {
    height: calc(140vh - 230px);
    color: #000;
    font-family: 'Special Elite';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #000;
    color: #fff;
    min-width: 200px;
}

.btn-black {
    background: #000;
    color: #fff;
}

.shop-now-button {
    text-shadow: 2px 2px 3px #000, 2px 2px 8px #F5F5DC;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #fff;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000 !important;
}

.bg-black {
    background: #000 !important; 
}

.hr-heading-beige {
	border-top: 2px dashed #F5F5DC;
}

.hr-sm-grey {
	border-top: 1px dashed #F5F5DC;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* -------------------------------- Home page specific */
.home-page-item {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.hero-background {
    background: url('/media/hero4.jpg') center center ; 
    background-size: cover; 
    height: calc(100vh - 164px);
    width: 100%;
}

.hero-heading {
    font-weight: bold;
    text-shadow: 2px 2px 4px beige, 0 0 4px #fff;
}
/* ----------------- Home page - Owl Carousel */

.owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }

/* -------------------------------- Product page specific */
.products-baner {
    margin-top: 155px;
    padding-top: 50px;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
