html {
    height: 100%;
}

body {
    height: calc(140vh - 230px);
    color: #000;
    font-family: 'Special Elite';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    min-width: 200px;
    font-size: 20px;
    font-weight: 600;
}

.btn-black {
    background: #000;
    color: #fff;
    border: solid 2px #000;
}

.btn-outline-black {
    background: #fff;
    color: #000 !important;
    border: 2px solid #000;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #000 !important;
    color: #fff !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #fff;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000 !important;
}

.bg-black {
    background: #000 !important; 
}

.hr-heading-beige {
	border-top: 2px dashed #F5F5DC;
}

.hr-sm-grey {
	border-top: 1px dashed #F5F5DC;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    color: #fff;
    background-color: #000;
    height:52px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    text-decoration: none;
    cursor: pointer;
}

/* -------------------------------- Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Home page specific */
.home-page-item {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.hero-background {
    background: url('/media/hero4.jpg') center center ; 
    background-size: cover; 
    height: calc(100vh - 164px);
    width: 100%;
}

.hero-heading {
    font-weight: bold;
    text-shadow: 2px 2px 4px beige, 0 0 4px #fff;
}

/* ---------------- Home page - Instagram specific
  copied from https://juicer.io/blog/create-a-custom-embeddable-aggregate-social-media-feed-with-css-and-juicer  */


.juicer-feed li.feed-item {
  background: transparent;
  border: 1px solid #DCDCDC !important;
}

.juicer-feed .j-message p {
    width: 100%;
    display: block;
    float: none;
    color: #000;
    font-family: 'Special Elite';
  }

.j-poster h3 {
    font-size: 14px !important;
    color: white;
    font-family: 'Special Elite';
}

.j-message {
    font-family: 'Special Elite';
}

.juicer-button {
    border-radius: 1px !important ;
    font-size: 16px !important;
    font-family: 'Special Elite';
}


/* ----------------- Home page - Owl Carousel */

.owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }

/* -------------------------------- Product page specific */
.products-baner {
    margin-top: 155px;
    padding-top: 50px;
}

bt

.image-container {
    height: 400px;
    width: 380px;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
