{% extends "base.html" %}
{% load static %}

<!-- 
    Entire code written following Code Institutes Boutique Ado project
    https://github.com/ckz8780/boutique_ado_v1
-->

{% block content %}
<div class="container-fluid products-baner ">
    <div class="row">
        <div class="col my-auto">
            <hr class="w-25 hr-heading-beige">
            <h2 class="logo-font text-center">Product Management</h2>
            <hr class="w-25 hr-heading-beige">
            <h5 class="text-muted text-center">Add New Product</h5>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <form method="POST" action="{% url 'add_product' %}" 
                        class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">
                            Cancel
                        </a>
                        <button class="btn btn-outline-black rounded-0" type="submit">
                            Add Product
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
